<!Doctype html>
<html lang="en">
    <head>
        {% block title %}{% endblock title %}
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>

    <body class="bg-indigo-600">
        {% include "navbar.html" %}
        <div>
            {% block body %}
            <div class="lg:container lg-max-auto" id="main">
                {% block content %}{% endblock content %}
            </div>
            {% endblock body %}
        </div>
    </body>
</html>